extends layout

block content
  div#app
    div#header
      h1#title= title

    form#form(method='POST' action='/new')
        input#nameInput(type='text' name='name' placeholder='Name')
        textarea#messageInput(rows='3' type='text' name='message' placeholder='Message')
        input#button(type='submit' value='Send')