extends layout

block content
  div#app
    div#header
      h1#title= title
      
    div#main
      div#addNew
        a(href='/new')
          button#button Add new

      div#content
        each val in messages
          div#messages
            div#messageHeader
              h3#name= val.user
              p#time= val.added
                span#timeText
            p#messageDisplay= val.text
            
